body{
    background-color: #D3D3D3;
    font-family: Arial, sans-serif;
}

#lin:link{
	color: green;
}
#inc:link{
	color: green;
}
#menu:hover{
	color: #BC8F8F;
}
li:hover{
	color:#87CEFA;
}
#imgg{

}
#home{
	float: right;
}
#fin{
	color: #FFC0CB;
	text-align: center;
	background-color: black;
}
nav#home{
   display: block;
}

 nav#home ul{
     list-style: none;
     position: absolute;
	top: -20px;
	left: 870px;
 }

 nav#home li{
     font-size: 15pt;
     background-color:white;
     border-radius: 10px;
    display: inline-block;
     padding: 10px;
 }

 nav#home a{
     text-decoration: none;
     color: black;
 }
 
 nav#home li:hover{
     background-color: #606060;
 }

 nav#home a:hover {
     color:#ffffff ;
}

#mostrar{
	color: #2F4F4F;
  display: none;
}

#passar_mouse:hover #mostrar{
	color: #2F4F4F;
  display:block;
  }     
